.App {
  width: 100vw;
  min-height: 100vh;
}
.labels {
  display: flex;
  width: 100%;
}
.label {
  width: 10rem;
  border: 1px solid blue;
}
.valid-cell {
  background: greenyellow;
}

.search-cell {
  background: green;
}

.invalid-cell {
  background: palegreen;
}