@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,700');
.App {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
input:hover,
button:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
}
input {
  border: none;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background: transparent;
  border-radius: 0.6rem;
}
.cell {
  margin: 0.2rem 0.4rem;
}
.stat {
  font-size: 3rem;
  font-weight: 300;
}
.array {
  display: flex;
  width: 80%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.labels {
  width: 80%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.label {
  width: 10rem;
  height: 4rem;
}
.title {
  height: 3rem;
}
.valid-cell {
  border: 2px solid #fff;
}
.zell {
  color: #e9273a;
  background: #fff;
  box-shadow: 1px 1px 2px #1a1a1a;
  transition: opacity 200ms ease-out;
}
.title {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}
.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}
.search-cell {
  color: #fff;
  background: #e9273a;
}
.buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.ic {
  margin: 0 0.5rem;
}
.invalid-cell {
  opacity: 0.6;
}
button {
  height: 2.5rem;
  background: #fff;
  line-height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 50%;
  color: #e94057;
}
button:hover {
  animation: pop 0.2s forwards;
}
@keyframes pop {
  0% {
    opacity: 1;
    box-shadow: none;
  }
  100% {
    box-shadow: inset 0px 0px 2px #111;
  }
}
button:focus {
  outline: none;
  box-shadow: 0px 0px 5px #000;
}
.header {
  font-size: 4rem;
  font-weight: 300;
}
.search {
  height: 4rem;
  display: flex;
  align-items: center;
}
#search-box {
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 0;
}
.icon {
  padding: 0 0.2rem;
  height: 2rem;
  line-height: 2;
  border-bottom: 2px solid #fff;
}
.dots {
  animation: blink 0.4s infinite linear;
}
.dots:nth-child(even) {
  animation-direction: alternate;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .header {
    font-size: 2.5rem;
  }
  .labels {
    flex-wrap: nowrap;
  }
}
